<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
				classpath:/egovframework/spring/context-*.xml
		</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				/WEB-INF/config/egovframework/springmvc/dispatcher-servlet.xml,
				/WEB-INF/config/egovframework/springrest/springrest-servlet.xml		
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.swf</url-pattern>
    <url-pattern>*.mp3</url-pattern>
    <url-pattern>*.mp4</url-pattern>
    <url-pattern>*.ogv</url-pattern>
    <url-pattern>*.ogg</url-pattern>
    <url-pattern>*.flv</url-pattern>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.txt</url-pattern>
    <url-pattern>*.eot</url-pattern>
    <url-pattern>*.svg</url-pattern>
    <url-pattern>*.ttf</url-pattern>
    <url-pattern>*.woff</url-pattern>
    <url-pattern>*.pdf</url-pattern>
    <url-pattern>*.zip</url-pattern>
    <url-pattern>*.jpeg</url-pattern>
    <url-pattern>*.cur</url-pattern>
    <url-pattern>*.map</url-pattern>
    <url-pattern>*.scss</url-pattern>
    <url-pattern>*.exe</url-pattern>
    <url-pattern>*.properties</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <display-name>kcplaa_server</display-name>
  <welcome-file-list>
    <welcome-file>/CLA_LGN_MAIN.do</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>httpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpMethodFilter</filter-name>
    <url-pattern>/springrest/*</url-pattern>
  </filter-mapping>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/egovframework/rte/rex/cmmn/bizError.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/egovframework/rte/rex/cmmn/DataAccessFailure.jsp</location>
  </error-page>
</web-app>